/assetss3
/assetss4
/assetss5
/assetss6
/assetss7
/build
/assets_common
/map_depot/assetss5
/map_depot/assetss4
/map_depot/assetss6
/map_depot/assetss7
/map_depot/assetss3
/map_depot/assetss8
/map_depot/assetss10
*.7z
R5SDK-Asset-Rpaks.7z.tmp
*.bak
/map_depot/assetss9
/map_depot/cache
map_depot/repak.exe
/map_depot/assets_common/mdl
*.starpak
/map_depot/assetss9pc
